# Содержание:
  - ## [Блок 1](#Блок_1)
      - ### [Теория](#Теория_1)
      - ### [Разобранные примеры](#Примеры_1)
      - ### [Задачи](#Задачи_1)

  - ## [Блок 2](#Блок_1)
      - ### [Теория](#Теория_2)
      - ### [Разобранные примеры](#Примеры_2)
      - ### [Задачи](#Задачи_2)

# Блок_1

## Теория_1

In [44]:
def greet(name):
    print("Hello, " + name + "!")

user_name = "Anna"
greet(user_name)

Hello, Anna!

In [53]:
def count_divide(a, b):
    if b == 0:
        return
    return a // b

count_divide(b=3, a=10)

3

In [54]:
def increment(number, by=1):
    return number + by

increment(2)

3

## Примеры_1

### Пример 1: 
Напишите функцию is_prime(n), которая принимает на вход целое число n и возвращает True, если число n является простым, и False, если число n не является простым.

In [1]:
def is_prime(n: int) -> bool:
    if n < 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

In [2]:
n = int(input("Введите целое число: "))

if is_prime(n):
    print(n, "является простым числом")
else:
    print(n, "не является простым числом")

Введите целое число: 12
12 не является простым числом

### Пример 2: 

Напишите программу, принимающую на вход массив и число - множитель, на который нужно умножить все элементы массива.

In [189]:
def multiply_list(lst: list, multiplier: float) -> list:
    result = []
    for num in lst:
        result.append(num * multiplier)
    return result

In [186]:
def multiply_list(lst: list, multiplier: float):
    for i in range(len(lst)):
        lst[i] *= multiplier

In [187]:
a = list(range(4))
multiply_list(a, 2)

In [188]:
a

[0, 2, 4, 6]

## Задачи

### Задачка 1:

 Напишите функцию `max_word_length`, которая принимает список слов в качестве аргумента и возвращает длину самого длинного слова в списке.

In [39]:
def max_word_length(arr: list) -> int:
    # your code here
    pass

In [40]:
max_word_length(['epsillon', 'Annataragaga', '3232', 'dedewdaf','we'])

### Задачка 2

Напишите функцию `sum_even(numbers)`, которая принимает список чисел numbers и возвращает сумму всех четных чисел в списке.

In [3]:
def sum_even(numbers: list) -> float:
    # your code here
    pass

In [7]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] # ответ 30

sum_even(my_list)

### Задачка 3

Напишите функцию на Python `is_leap_year()`, которая принимает на вход натуральное число - год по Григорианскому календарю и возвращает True, если это високосный год и False иначе.

***Подсказка***  *Год по Григорианском календарю - високосный, если*
- *он делится нацело на 4 и не делится на 100*
- *если делится на 400*

In [20]:
def is_leap_year(year: int) -> bool:
    # your code here
    pass

In [21]:
is_leap_year(2004)

### Задача 4

Используя функцию `is_leap_year()` напишите функцию filter_leap_year(), которая принимает на вход список дат - строк в формате DD.MM.YEAR и возвращаетaотфильтрованный список, в котором удалены даты високосных лет.


Пример:
```
dates = ["16.02.1998", "21.12.1876", "21.01.1955", "6.11.1228", "31.12.1200", "9.07.2351"]

res = ["16.02.1998",  "21.01.1955", "9.07.2351"]
```

In [23]:
def filter_leap_year(dates: list) -> list:
    # your code here
    pass

### Задачка 5

Напишите функцию delete_punctuation(), которая принимает на вход строку и удаляет знаки пунктуации `'?!.,:;-"''.`

Примечание: чтобы указать в питоновской строке кавычки, используется бэкслэш: `'\''`  и `'\"'`

In [24]:
a = "Jane\'s \"toyota\" in the street"
print(a)

Jane's "toyota" in the street

### Задачка 6

Напишите функцию is_palindrome(s), которая принимает на вход строку s и возвращает True, если строка является палиндромом, и False, если строка не является палиндромом.

In [27]:
def is_palindrome(s: str) -> bool:
    # your code here
    pass

In [31]:
word = "an madam na"

if is_palindrome(word):
    print(word, "является палиндромом")
else:
    print(word, "не является палиндромом")

an madam na не является палиндромом

Чтобы проверить правильность своего решения, прогоните функцию через тестовый список, содержащий палиндромы без учета знаков пунктуации:

In [41]:
from typing import Callable, Iterable

tests = [
    'A nut for a jar of tuna.',
    'Borrow or rob?',
    'Was it a car or a cat I saw?',
    'Murder for a jar of red rum.'
]

def test_palindrome(palindrom_func: Callable, tests: Iterable[str]) -> list:
    for phrase in tests:
        if not palindrom_func(phrase):
            print(f"Failed on phrase {phrase}")

In [30]:
test_palindrome(is_palindrome, tests)

Failed on phrase A nut for a jar of tuna.
Failed on phrase Borrow or rob?
Failed on phrase Was it a car or a cat I saw?
Failed on phrase Murder for a jar of red rum.

# Блок_2

## Теория_2

### zip
Функция `zip` - используется для группировки элементов из различных последовательностей (например, списков, кортежей и т.д.) в пары или кортежи. Нужно для того, чтобы итерироваться по нескольким спискам параллельно. Например:

In [12]:
names = ["Анна", "Иван", "Мария"]
ages = [25, 30, 28]
cities = ["Москва", "Санкт-Петербург", "Киев"]

data = zip(имена, возрасты, города)
print(type(data))

<class 'zip'>

In [13]:
for name, age, city in data:
    print(name, "возраст:", age, "город:", city)

Анна возраст: 25 город: Москва
Иван возраст: 30 город: Санкт-Петербург
Мария возраст: 28 город: Киев

### map

Используется для применения заданной функции ко всем элементам последовательности. Она возвращает объект-итератор, который содержит результаты применения функции к каждому элементу последовательности.

In [18]:
def double(x):
    return x * 2

numbers = [1, 2, 3, 4, 5]
double_numbers = map(double, numbers)

# Преобразование результата map в список для отображения
double_numbers = list(double_numbers)

print(double_numbers)

[2, 4, 6, 8, 10]

## Примеры_2

## Пример 1: 
Напишите функцию, которая принимает от пользователя два списка целых чисел одинаковой длины и выполняет следующие операции:

- Находит сумму элементов с одинаковыми индексами в каждом списке.
- Вычисляет среднее арифметическое всех элементов из двух списков.
- Возвращает список, состоящий из элементов, которые встречаются в обоих списках.

In [16]:
def sum_lists(list1: list, list2: list) -> list:
    return [a + b for a, b in zip(list1, list2)]

def average_lists(list1: list, list2: list) -> float:
    sum_list = sum_lists(list1, list2)
    return sum(sum_lists(list1, list2)) / (len(sum_list) * 2)

def common_elements(list1: list, list2: list) -> list:
    return list(set(list1) & set(list2))

In [17]:
list1 = [1, 3, 4, 5, 6]
list2 = [3, 6, 3, 1, 2]


sum_list = sum_lists(list1, list2)
avg = average_lists(list1, list2)
common = common_elements(list1, list2)

print("Сумма элементов с одинаковыми индексами:", sum_list)
print("Среднее арифметическое двух списков:", avg)
print("Список общих элементов в двух списках:", common)

Сумма элементов с одинаковыми индексами: [4, 9, 7, 6, 8]
Среднее арифметическое двух списков: 3.4
Список общих элементов в двух списках: [1, 3, 6]

## Пример 2

Напишите функцию, принимающую на вход два списка одинаковой длины и возвращающую список такой же длины, состоящий из максимумов элементов с одинаковым индексом.

Пример:
```
a = [1, 2, 3, 4, 5]
b = [2, 1, 3, 6, 1]

res = [2, 2, 3, 6, 5]
```

In [164]:
def maximum(list1, list2) -> list:
    return list(map(lambda x, y: x if x > y else y, list1, list2))

## Пример 3

Напишите функцию, вычисляющую факториал положительного числа.

In [42]:
def factorial(n):
    res = 1
    for i in range(1, n + 1):
        res *= i
    return res

Другое решение данной задачи - через рекурсию.


*Рекурсивная функция - это функция, которая вызывает сама себя с некоторым изменением параметров до тех пор, пока не будет достигнуто условие выхода из рекурсии.*

*Простое объяснение на [матрешках](https://www.youtube.com/watch?v=NOaSY5pJmyc).*

In [147]:
def factorial2(n):
    if n == 0:
        return 1  # условие выхода из рекурсии
    return n * factorial2(n - 1)

In [159]:
factorial2(4)

24

# Задачи_2

### Задачка 7

Напишите функцию, вычисляющую n-ое число последовательности [Фибоначчи](https://ru.wikipedia.org/wiki/%D0%A7%D0%B8%D1%81%D0%BB%D0%B0_%D0%A4%D0%B8%D0%B1%D0%BE%D0%BD%D0%B0%D1%87%D1%87%D0%B8#:~:text=0%2C%201%2C%201%2C%202,%D1%80%D0%B0%D0%B2%D0%BD%D0%BE%20%D1%81%D1%83%D0%BC%D0%BC%D0%B5%20%D0%B4%D0%B2%D1%83%D1%85%20%D0%BF%D1%80%D0%B5%D0%B4%D1%8B%D0%B4%D1%83%D1%89%D0%B8%D1%85%20%D1%87%D0%B8%D1%81%D0%B5%D0%BB.).

В последовательности Фибоначчи  первые два числа равны 0 и 1, а каждое последующее число равно сумме двух предыдущих чисел:

`1, 1, 2, 3, 5, 8, 13, 21, ...`

### Задачка 8

Напишите функцию, принимающую на вход два списка одинаковой длины и возвращающую список такой же длины, состоящий из суммы элементов с одинаковым индексом если эти элементы различны и 0, если эти элементы равны.

Пример:

```
a = [1, 2, 3, 4, 5]
b = [2, 1, 3, 6, 1]

res = [3, 3, 0, 10, 5]
```

### Задачка 9

Напишите функцию, сортируюущую список строк в алфавитном порядке, но с конца слова задом наперед (то есть сначала смотрим на последнюю букву в строке, если они одинаковые, то на предпоследнюю и т.д.)

Пример:

```
a = [ab, sdsda, saae, wdsdq, ssdz]

res = [sdsda, ab, saae, wdsdq, ssdz]
```

### Задачка 10

Напишите функцию `is_anagram()`, которая принимает на вход две строки и возвращает True, если они являются анаграмами друг друга.

Пример

```
>>> is_anagram("manometrical", "commentarial")

True

>>> is_anagram("tastes", "estate")

False

```

In [32]:
def is_anagram(first: str, second: str) -> bool:
    # your code is here
    pass